*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
:root{
/* Colors */
--white-color:#fff；
--dark-color:口#252525；
--primary-color:#3b141c;
--secondary-color: •#f3961c;
--light-pink-color: •#faf4f5;
--medium-gray-color: #ccc; 

/* Font size */
--font-size-s: 0.9rem;
--font-size-n: 1rem;
--font-size-m:1.12rem;
--font-size-1: 1.5rem;
--font-size-xl: 2rem;
--font-size-xxl: 2.3rem;

/* Font weight */
--font-weight-normal: 400;
--font-weight-medium: 500;
--font-weight-semibold: 600;
--font-weight-bold: 700;

/*Border radius */
--border-radius-s: 8px;
--border-radius-m: 30px;
--border-radius-circle: 50%;
/* site max width */
--site-max-width:1300px;
}
/*stylings for whole site */
ul{
    list-style: none;

}
a{
    text-decoration: none;
}
button{
    cursor: pointer;
    border: none;
    background: none;
}
img{
    width: 100%;
}
.section-content{
    margin: 0 auto;
    padding: 0 20px;
    max-width: var(--site-max-width);
}
/*Navbar styling*/

header{
    position: fixed;
    width: 100%;
    z-index: 5;
    background: rgb(73, 4, 4);
}
header .navbar{
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}
.navbar .nav-logo .logo-text{
    color: rgb(216, 171, 153);
}
.navbar .nav-menu{
    display: flex;
    gap:10px;
}
.navbar .nav-menu .nav-link{
    padding: 10px 18px;
    color: rgb(228, 219, 200);
    font-size:  var(--font-size-m);
    background: rgb(114, 19, 19);
    border-radius: var(--border-radius-m);
    transition: 0.1s ease;
}

.navbar .nav-menu .nav-link:hover{
    background: var(--secondary-color) ;
}
.hero-section{
    min-height: 100vh;
    background: rgb(73, 4, 4) ;
}
.hero-section .section-content{
    display: flex;
    align-items: center;
    min-height: 100vh;
    color:white;
    justify-content: space-between;
}
.hero-section .hero-details .title{
    font-size: var(--font-size-xxl);
    color: var(--secondary-color);
    font-family: "miniver",sans-serif;
}
